#login label{color: #ffffff !important;}
.ui-grid-file{overflow:hidden}
.ui-grid-file .ui-block-a{width: 5%}
.ui-grid-file .ui-block-b{width: 55%; padding: 0 10px;}
.ui-grid-file .ui-block-c{width: 10%}
.ui-grid-file .ui-block-a{clear:left}

/*filebrowser*/
.folder, .file{
    font-family:sans;
    font-size:10px;
    cursor:pointer;	
	float: left;
	width: 100%;
}
 
.folder{
    background: url('images/folder.png') no-repeat 50% 0%;
    margin:2px;
    padding-top:25px;
    text-align:center;	
}
 
 
.file{
    background: url('images/file.png') no-repeat 50% 0%;
    margin:2px;
    padding-top:25px;
    text-align:center;	
}
.ul-li-arrow-down, .ul-li-arrow-up{		
	width: 14px;
	height: 18px;
	position: absolute;		
	right: 3.2em;
	top: 50%;
	margin-top: -.6em;
	background-image:url('images/arrows-18-green-red.png');
	-moz-background-size:29px 18px;
	-o-background-size:29px 18px;
	-webkit-background-size:29px 18px;
	background-size:29px 18px;	    
}
.ul-li-arrow-up{
	background-position: 0px 50%;	
}
.ul-li-arrow-down{
	background-position:-14px 50%;	
}
/*filebrowser*/