<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.phonegap.jlmsmobile"
        version = "1.0.0">

    <name>JLMSMobile</name>
    <description>      
    </description>
    <author href="http://phonegap.com" email="support@phonegap.com">
      JoomlaLMS Team
    </author>
	<content src="index.html" />
	<access origin="*" />
	<preference name="Fullscreen" value="true" />
	<preference name="WebViewBounce" value="true" />	
	<feature name="File">
		<param name="android-package" value="org.apache.cordova.file.FileUtils" />
	</feature>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<feature name="FileTransfer">
		<param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
	</feature>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</widget>